.navbar-nav > .user-menu > .dropdown-menu{
	width: 120px;

}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header{
	height: 40px;
	text-align: left;
	border: 1px white solid;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p{
	margin-top: 0px;
}
.dropdown-menu > li > a  {
	z-index: 5;
	padding: 0px;
	color: rgba(255,255,255,0.8);
	font-size: 17px;
	text-align: left;
}
.dropdown-menu > li > a:hover{
	color: white;
	background-color: #3c8dbc;
}
.content-header{
	margin-bottom: 40px;
	border-bottom: 2px solid;
}
.content{
	background-color: white;
}
#image_no, .user-image{
	width: 100px;
	height: auto;
}
#form_edit, #form_create{
	padding: 20px;
	border: 1px solid #eee;
}
#create_film{
	margin-bottom: 20px;
}
/*#list_schedules>tr>th:nth-child(1),th:nth-child(4),th:nth-child(5),th:nth-child(6),td:nth-child(1),td:nth-child(4),td:nth-child(5),td:nth-child(6){
	width: 30px;
}*/

#list_schedules .col-room{
	width: 10%;
	max-width: 50px !important;
}
#send{
	margin-left: 15px;
	margin-top: 25px;
}